extends layout

block links

block content
  #stage.stage
    .block.block-inverse.block-fill-height.text-center
      .block-xs-middle
        .container
          h1.block-title LOGIN
          //- form(role='form', action='/admin/authenticate', method='post')
          //-   input#email-input.form-control.m-b(name='email',placeholder='email address')
          //-   input#password-input.form-control.m-b(name='password',placeholder='password')
          //-   button.btn.btn-primary.m-b Continue

          form.form(role='form', action='/admin/authenticate', method='post')
            .form__group
              input.form__input(type='text', name='username', placeholder='Username')
            .form__group
              input.form__input(type='password', name='password', placeholder='Password')
            button.btn Continue
block scripts
