footer
  .block.block-inverse
    .container
      .row
        .col-lg-6.col-md-6.col-sm-6.footer-left
          //- .download-button
          //-   a
          //-     img(src= '/images/appstore.svg' id='downloadbtn')
          h5 Follow us on
          ul.hypelist-links
            li.social-media-icon
              a(href= "http://instagram.com/thehypeapp").icon.icon-instagram
                span.label
                  Instagram
            li.social-media-icon
              a(href= "https://www.facebook.com/gethypeapp").icon.icon-facebook
                span.label
                  Facebook
            li.social-media-icon
              a(href= "http://twitter.com/the_hype_app").icon.icon-twitter
                span.label 
                  Twitter
        .col-lg-6.col-md-6.col-sm-6.footer-right
          li
            .wrapper
              a.eight.before.after(href= "/contact")
                h4 CONTACT
          li
            .wrapper
              a.eight.before.after(href= "/terms")
                h4 TERMS
          li
            .wrapper
              a.eight.before.after(href= "/privacy")
                h4 PRIVACY
