footer
  .container
    .row
      .col-lg-12
        h5 Follow us on
        ul.hypelist-links
          li.social-media-icon
            a(href= "http://instagram.com/thehypelist")
              img(src= '/images/instagram.svg')
          li.social-media-icon
            a(href= "https://www.facebook.com/hypelistco")
              img(src= '/images/facebook.svg')
          li.social-media-icon
            a(href= "http://twitter.com/hypelist_app")
              img(src= '/images/twitter.svg')
        hr
        li
          a(href= "/")
            h4 CONTACT
        li
          a(href= "/")
            h4 TERMS
        li
          a(href= "/")
            h4 PRIVACY
