form#free-checkout-form.form-horizontal(role='form', action='/free-charge', method='post')
  fieldset
    legend Payment
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-9
        input#email.form-control(type='text', name='email', placeholder="Your email")
  
    .col-sm-offset-3.col-sm-9
      button#submit-btn.btn.btn-success(type='submit') Pay Now
