form#free-checkout-form.form-horizontal(role='form', action='/free-charge', method='post', data-parsley-validate='')
  fieldset
    .form-group
      label.control-label(for='email') Email
      input#email.form-control(type='text', name='email', placeholder="Your email", required="", data-parsley-type="email")
    .form-group
      label.control-label(for='phoneNumber') Phone Number
      input#email.form-control(type='text', name='phoneNumber', placeholder="Your phone number", required="", data-parsley-type="digits", data-parsley-length="[10,11]")
      input.form-group(type='hidden', name='admissionOptionID', value="#{admissionOption.id}")
      input.form-group(type='hidden', name='eventID', value="#{event.id}")
    button#submit-btn.btn.btn-primary.btn-lg(type='submit') Get Ticket
