header
  .navbar.transparent.navbar-inverse.navbar-static-top.hr
    .navbar-brand
      a(href='/')
        img(src= '/images/hypelistlogo.svg' id='logo')
    .container-fluid
      .navbar-header
        .navbar-collapse.collapse.pull-right
          ul.nav.navbar-nav.mineul
            li
              a(href= "/")
                BLOG
  //- 
  //-   <div id="mobile-header" class="pull-right">
  //-       <span>MENU</span>
  //-       <a id="responsive-menu-button" href="#sidr-main"><i class="fa fa-bars"></i></a>
  //-   </div>
  //- 
  //-   <div id="sidr-navigation">
  //-       <nav class="sidr-nav">
  //-           <ul>
  //-             <li><%= link_to "BLOG", '#' %></li>
  //-             <li><%= link_to "SUPPORT", support_path %></li>
  //-             <li><%= link_to "HOSTS", hosts_path %></li>
  //- 
  //-              <li><%= link_to "CONTACT", contact_path %></li>
  //-              <li><%= link_to "PRIVACY", privacy_path %></li>
  //-              <li><%= link_to "TERMS", terms_path %></li>
  //-           </ul>
  //-       </nav>
  //-   </div>
  //- </div>
