header
  .navbar.navbar-inverse.navbar-fixed-top.transparent.hr
    .container-fluid
      .navbar-brand.logo
        a(href='/')
          img(src= '/images/hypelistlogo.png' id='logo')

          //- img(src= '/images/hypelistlogo.svg' id='logo')
      .navbar-collapse.collapse
        ul.nav.navbar-nav.mineul.navbar-center
          li
            a(href="/contact") CONTACT
          li
            a(href="/host") HOSTS
          li
            a(href="/bookings" id="booking-button") PRIVATE EVENTS
            
        ul.nav.navbar-nav.navbar-right
          li.social-media-icon
            a(href= "http://instagram.com/thehypelist").icon.fa.fa-instagram
              span.label
                Instagram
          li.social-media-icon
            a(href= "https://www.facebook.com/hypelistco").icon.fa.fa-facebook
              span.label
                Facebook
      .toggle-button.pull-right
        a#hamburger-icon
          span.line.line-1
          span.line.line-2
          span.line.line-3
      //- button.toggle-button
      //-   h2 button
nav#menu
  ul
    //- li
    //-   a(href="#") BLOG
    //- li
    //-   a(href="#") SUPPORT
    //- li
    //-   a(href="#") HOSTS
    li
      a(href="/bookings") BOOK AN EVENT
    li
      a.beta-access-button(href='/betarequest') BETA ACCESS
  div#menu-bottom
    ul
      li
        a(href="/contact") contact
      li
        a(href="/privacy") privacy
      li
        a(href="/terms") terms

    ul.hypelist-links
      li.social-media-icon
        a(href= "http://instagram.com/thehypelist").icon.fa.fa-instagram
          span.label
            Instagram
      li.social-media-icon
        a(href= "https://www.facebook.com/hypelistco").icon.fa.fa-facebook
          span.label
            Facebook
      li.social-media-icon
        a(href= "http://twitter.com/hypelist_app").icon.fa.fa-twitter
          span.label 
            Twitter
