#sidebar.stage-shelf.stage-shelf-right.hidden
  ul.nav.nav-bordered.nav-stacked
    li
      a(href="https://bnc.lt/b9al/1DZCgVlvms") DOWNLOAD
    //- li
    //-   a(href="/events") EVENTS
    //- li
    //-   a(href="/signup") LOGIN
    li.social-media-icon
      a(href= "https://www.instagram.com/thehypeapp").icon.icon-instagram
        span.label
          Instagram
    li.social-media-icon
      a(href= "https://www.facebook.com/hypelistco").icon.icon-facebook
        span.label
          Facebook
      
