#sidebar.stage-shelf.stage-shelf-right.hidden
      ul.nav.nav-bordered.nav-stacked
        li.nav-header Examples
        li.active
          a(href='index.html') Startup
        li
          a(href='minimal/index.html') Minimal
        li
          a(href='bold/index.html') Bold
        li.nav-divider
        li.nav-header Docs
        li
          a(href='docs/index.html') Toolkit
        li
          a(href='http://getbootstrap.com') Bootstrap
          
