extends layout

block links

block content
  .block.block-inverse.text-center
    .block-middle-md
      h1.block-title THANK YOU!
      h3.text-muted
        | A link to your ticket was texted to your mobile phone number. 
