extends layout

block content

  #contact-form
    #banner
      .container
        .row  
          .col-lg-12
            h1 contact us
            h3 give us feedback
    .container
      form#contactform(action='/submitcontact', method='post')
        .top-row
          .field-wrap
            label(for="firstname")
              p First Name <span class="req">*</span>
            input(type="text" name="firstname" id="inputFirstName" required)
          .field-wrap
            label(for="lastname")
              p Last Name <span class="req">*</span>
            input(type="text" name="lastname" id="inputLastName" required)
        .field-wrap
          label(for="email")
            p Email <span class="req">*</span>
          input(type="email" name="email" data-parsley-validate="change" id="inputEmail" required)
        .field-wrap
          label(for="message")
            p Message (20 chars min, 250 max):
          textarea(name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="250" data-parsley-validation-threshold="10")
        input(type="submit" id="btnSubmitContactForm" class="button button-block")
