extends layout

block content
  #host-form
    .container-fluid
      div.typeform-widget(data-url="https://hypelist.typeform.com/to/zGLp4N" data-text="Hypelist Host Application" style="width:100%;height:700px;")
    
block scripts
  script(src='/javascripts/hostform.js')
