extends layout

block links

block content
  .block.block-inverse.block-fill-height.app-header(style='background-image: url(images/landing-bg-1.png);')
      .block-xs-bottom.p-b-lg.p-l-lg
          h1.block-title.m-b-sm#brand-title HYPE
          p.lead.m-b-md#banner-subtitle
              | YOUR APP FOR A GREAT NIGHT OUT
          p.lead.m-b-md.text-muted
              | Discover curated parties in your city, invite your friends, and earn perks - all in one app.
          a(href="https://bnc.lt/b9al/1DZCgVlvms") 
            img(src='images/app-store-button.svg', style='width: 250px;')
  .block-inverse.block-fill-height.text-center
      .block-md-middle
          h1.block-title Design an Unforgettable Night Out<br \>for you and your friends
          p.lead.text-muted
              | Hype gets you and your friends access to the hottest events going on in the city
          .container.m-t-lg
              .row
                  .col-md-4
                      .panel.panel-bold(style='background-image: url(images/up&down.png); background-size:cover; background-repeat:no-repeat;')
                          .panel-body.p-b-lg.p-t-lg
                              h4.m-y-0 UP&DOWN
                              p MEATPACKING

                  .col-md-4
                      .panel.panel-bold(style='background-image: url(images/phd-rooftop.png); background-size:cover; background-repeat:no-repeat;')
                          .panel-body.p-b-lg.p-t-lg
                              h4.m-y-0 PHD ROOFTOP
                              p CHELSEA

                  .col-md-4
                      .panel.panel-bold(style='background-image: url(images/gilded-lily.png); background-size:cover; background-repeat:no-repeat;')
                          .panel-body.p-b-lg.p-t-lg
                              h4.m-y-0 GILDED LILY
                              p CHELSEA
  .block.block-inverse.block-fill-height(style='background-image: url(images/landing-bg-2.png); background-attachment: fixed;')
      .block-lg-middle
          .container-fluid
              .row
                  .col-md-6
                      h1.block-title.m-b-lg.p-l-lg Your night just got even better
                      p.lead.text-muted.p-l-lg
                          | With our credit system, you can earn credits just by inviting your friends our. Check the app for all the perks you can redeem!
                  .col-md-6
                      .row 
                          .col-md-4.col-sm-4
                              img.img-responsive(src='images/perk-grey-goose.png')
                          .col-md-4.col-sm-4
                              img.img-responsive(src='images/perk-tao-dinner.png')
                      .row.m-t-md
                          .col-md-4.col-sm-4.p-l-lg
                              img.img-responsive(src='images/perk-backstage-pass.png')
                          .col-md-4.col-sm-4
                              img.img-responsive(src='images/perk-limo.png')
  .block.block-inverse.block-secondary
      .container
          .row.app-align-center
              .col-sm-5.col-sm-push-7
                  img(src='images/concierge-phone.png')

              .col-sm-6.col-sm-pull-5.m-t-lg
                  h3.m-t-0 No More Uncertainties
                  p.lead.m-b-md.text-muted
                      | With our 24/7 Personal Concierge Service, our team is always available through live chat to help you address any questions or concerns you might have so that you can have a stress-free night out.
  .block.block-inverse.block-bordered.text-center
    h1.block-title WHAT ARE YOU WAITING FOR
    p.lead.text-muted.m-b-lg
        | A great night out is waiting for you
    a(href="https://bnc.lt/b9al/1DZCgVlvms") 
      img(src='images/app-store-button.svg', style='width: 250px;')
