extends layout

block links

block content
  #stage.stage
    .block.block-inverse.block-fill-height.app-header(style='background-image: url(images/landing-bg-1.png);')
      .block-xs-bottom.p-b-lg
        .container-fluid
          .row
            .col-sm-10.col-md-6.m-l-lg
              h1.block-title.m-b-sm#brand-title HYPE
              p.lead.m-b-md#banner-subtitle
                | YOUR APP FOR A GREAT NIGHT OUT
              p.lead.m-b-md.text-muted
                | Discover curated parties in your city, invite your friends, and earn perks - all in one app.
              img(src='images/app-store-button.svg', style='width: 250px;')
    .block-inverse.block-fill-height.text-center
      .block-md-middle
        h1.block-title Design an Unforgettable Night Out<br \>for you and your friends
        p.lead.text-muted
          | Hype allows you to plan a customized night out for the event of your choosing
        .container.m-t-lg
          .row
            .col-md-4
              .panel.panel-bold(style='background-image: url(images/azalea.jpg);')
                .panel-body.p-b-lg.p-t-lg
                  h3.m-y-0 UP&DOWN
                  p MEATPACKING
            
            .col-md-4
              .panel.panel-bold(style='background-image: url(images/cudi.jpg);')
                .panel-body.p-b-lg.p-t-lg
                  h3.m-y-0 UP&DOWN
                  p MEATPACKING
            
            .col-md-4
              .panel.panel-bold(style='background-image: url(images/azalea.jpg);')
                .panel-body.p-b-lg.p-t-lg
                  h3.m-y-0 UP&DOWN
                  p MEATPACKING
    .block.block-inverse.block-fill-height(style='background-image: url(images/landing-bg-2.png); background-attachment: fixed;')
      .block-lg-middle
        .container-fluid
          .row
            .col-md-6
              h1.block-title.m-b-lg.m-l-lg GET AWESOME PERKS
              p.lead.text-muted.m-l-lg
                | With our credit system, you can earn credits just by inviting your friends out. These credits can be redeemed for grey goose deliveries, dinners at Tao, and limousine rides to the destination of your choice.
            .col-md-6
              .row 
                .col-md-4
                  img(src='images/perk-grey-goose.png')
                .col-md-4
                  img(src='images/perk-tao-dinner.png')
              .row.m-t-md
                .col-md-4.m-l-lg
                  img(src='images/perk-backstage-pass.png')
                .col-md-4
                  img(src='images/perk-limo.png')

    .block.block-secondary.app-iphone-block 
      .container
        .row.app-align-center
          .col-sm-5.hidden-xs
            img.app-iphone(src='images/startup-2.jpg', style='width: 100%;')
          .col-sm-6.col-sm-offset-1
            h6.text-muted.text-uppercase Rich Information
            h3.m-t-0 Make informed decisions with historical & real time data.
            p.lead.m-b-md
              | We combine immediate real time events with rich historical data to help answer the toughest questions about retention, growth, and engagement.
            .row.hidden-sm
              .col-sm-6.m-b-md
                h5.m-y-0 Data frequency
                p
                  | We poll for data on a millisecond basis. You can react to new information in seconds rather than days. 
                  a.text-primary(href='#') Learn more.
              .col-sm-6
                h5.m-y-0 Reliability & uptime
                p
                  | We process our data across a massively distributed network of reliable servers to ensure 99.99% uptime, always. 
                  a.text-primary(href='#') Learn more
                  | .
    .block.block-inverse.block-secondary.app-code-block
      .container
        .row.app-align-center
          .col-sm-5.col-sm-push-7
            pre.app-code.
              \n                                  “who are the latest 3 users?”
                                {
                                  "Dave": {
                                    "fullName": "Dave Gamache",
                                    "twitterHandle": "@dhg",
                                  }
                                  "Mark": {
                                    "fullName": "Mark Otto",
                                    "twitterHandle": "@mdo",
                                  }
                                  "Jacob": {
                                    "fullName": "Jacob Thornton",
                                    "twitterHandle": "@fat",
                                  }
                                }                
          .col-sm-6.col-sm-pull-5
            h6.text-muted.text-uppercase Easy development
            h3.m-t-0 Natural language queries make mining data easy for anyone.
            p.lead.m-b-md.text-muted
              | Rather than force everyone at your company to learn incredibly difficult terminal commands, we allow anyone to query the data with natural language to return data.
            button.btn.btn-default.btn-lg.btn-borderless
              | Read our docs
    .block.block-secondary.app-high-praise.p-b-0
      .container
        .row.app-align-center
          .col-sm-5.col-sm-push-7
            h6.text-muted.text-uppercase High Praise
            h3.m-t-0.m-b-md
              | “Go Analytics is amazing. Decisions that used to take weeks, now only takes minutes and is available to everyone on my team.”
            p.m-b-md.text-muted Cindy Smith, founder of Cool Startup
          .col-sm-6.col-sm-pull-5
            img(src='images/startup-3.jpg')
    .block.app-ribbon.p-y-lg
      .container.text-center
        img(src='images/startup-4.svg')
        img(src='images/startup-5.svg')
        img(src='images/startup-6.svg')
        img(src='images/startup-7.svg')
        img(src='images/startup-8.svg')
    
    .block.app-price-plans
      .container.text-center
        .row.m-b-lg
          .col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
            h6.text-muted.text-uppercase Business Talk
            h3.m-t-0 No plans. We just bump your plan whenever you need it.
        .row
          .col-sm-4.p-x.m-b-lg
            .p-x
              h6.text-muted.text-uppercase.m-b Personal
              img.m-b(src='images/startup-15.svg')
              p Plenty of processing power for any personal projects, big or small.
            ul.list-unstyled.list-bordered.text-left.m-y-md
              li.p-y
                strong 10k
                |  monthly requests
              li.p-y
                strong 9am-5pm
                |  technical supprt
              li.p-y
                strong Public
                |  API access
            button.btn.btn-lg.btn-primary.btn-block
              | Start 
              span.visible-lg-inline a personal account
          .col-sm-4.p-x.m-b-lg
            .p-x
              h6.text-muted.text-uppercase.m-b Business
              img.m-b(src='images/startup-16.svg')
              p The perfect sized plan for small businesses to get started.
            ul.list-unstyled.list-bordered.text-left.m-y-md
              li.p-y
                strong 100k
                |  monthly requests
              li.p-y
                strong 24/7
                |  technical supprt
              li.p-y
                strong Public
                |  API access
            button.btn.btn-lg.btn-primary.btn-block
              | Start 
              span.visible-lg-inline a business account
          .col-sm-4.p-x.m-b-lg
            .p-x
              h6.text-muted.text-uppercase.m-b Corporate
              img.m-b(src='images/startup-17.svg')
              p An unlimited plan that will scale infinitely to any size project.
            ul.list-unstyled.list-bordered.text-left.m-y-md
              li.p-y
                strong Unlimited
                |  monthly requests
              li.p-y
                strong 24/7
                |  technical supprt
              li.p-y
                strong Public & Private
                |  API access
            button.btn.btn-lg.btn-primary.btn-block
              | Start 
              span.visible-lg-inline a corporate account
    .block.block-inverse.app-footer
      .container
        .row
          .col-sm-5.m-b-md
            ul.list-unstyled.list-spaced
              li.m-b
                h6.text-uppercase About
              li.text-muted
                | We’ve been working on Go Analytics for the better part of a decade and are super proud of what we’ve created. If you’d like to learn more, or are interested in a job, contact us anytime at 
                a(href='mailto: themes@getbootstrap.com') themes@getbootstrap.com
                | .
          .col-sm-2.col-sm-offset-1.m-b-md
            ul.list-unstyled.list-spaced
              li.m-b
                h6.text-uppercase Product
              li.text-muted Features
              li.text-muted Examples
              li.text-muted Tour
              li.text-muted Gallery
          .col-sm-2.m-b-md
            ul.list-unstyled.list-spaced
              li.m-b
                h6.text-uppercase Apis
              li.text-muted Rich data
              li.text-muted Simple data
              li.text-muted Real time
              li.text-muted Social
          .col-sm-2.m-b-md
            ul.list-unstyled.list-spaced
              li.m-b
                h6.text-uppercase Legal
              li.text-muted Terms
              li.text-muted Legal
              li.text-muted Privacy
              li.text-muted License
