extends layout

block content
  #banner-wrapper
    #first-banner
      .container
        h1.banner-title There's always a party
        h3.banner-message We'll get you there
        .banner-button
          a.beta-access-button(href='/betarequest') REQUEST ACCESS TO THE BETA
    #second-banner
      .container
        h3.banner-message The only list you need to be on for the most exclusive
        h1.banner-title Dinner Pregames
        .banner-button
          a.beta-access-button(href='/betarequest') REQUEST ACCESS TO THE BETA
    #third-banner
      .container
        h3.banner-message The only list you need to be on for the most exclusive
        h1.banner-title Brunch Parties
        .banner-button
          a.beta-access-button(href='/betarequest') REQUEST ACCESS TO THE BETA
        
  #explanation-section
    .container
      .section-title
        h3 Not just another night out
        hr
      .row-centered
        .col-lg-6.col-centered
          p No more waiting in line, arguing with the bouncer, spending more than you should on drinks, and awkwardly standing in the corner with your wingman from high school. 
            
  #events-section
    //- .container
    //-   .section-title
    //-     h3 Discover the best way to go out in your city
    //-     p Pick from any of the most exclusive events in the city. We'll take care of the rest.
    //-   .row.row-centered
    //-     .col-lg-4.col-centered
    //-       #first-event-box
    //-         h1 1oak
    //-     .col-lg-4.col-centered
    //-       #second-event-box
    //-         h1 Highline Ballroom
    //-     .col-lg-4.col-centered
    //-       #third-event-box
    //-         h1 Lavo
    .container
      .row
        .col-lg-6.col-md-6.col-sm-6
          .message
            h3 Discover the best way to go out in your city
            p Pick from any of the most exclusive events in the city. We'll take care of the rest.
        .col-lg-6.col-md-6.col-sm-6
          img.img-responsive(src= '/images/eventdiscovery.png')  
      
  //- #select-host-section
  //-   .container
  //-     .row
  //-       .col-lg-6
  //-         .message
  //-           h3 Select a host
  //-           p Our hosts are vetted professionals who know the venues in and out. They'll handle the bouncers, make sure you breeze through the line and put you at their table with free drinks. 
  //-       .col-lg-6
  //-         img.img-responsive(src= '/images/selecthost.png')
  #hosts-section
    .container-fluid
      .section-title
        h3 Select a host
        p Our hosts are vetted professionals who know the venues in and out. They'll handle the bouncers, make sure you breeze through the line and put you at their table with free drinks. 
      .row.row-centered
        .col-lg-3.col-centered
          #first-host-box
            h1 Joey
        .col-lg-3.col-centered
          #second-host-box
            h1 Fabio
        .col-lg-3.col-centered
          #third-host-box
            h1 Giuseppe
        .col-lg-3.col-centered
          #fourth-host-box
            h1 Bryan
            
            
  #invite-guests-section
    .container
      .row
        .col-lg-6.col-md-6.col-sm-6
          .message
            h3 Invite your friends
            p Be the one who always knows how to find the best parties. Add your friends to your guestlist and make sure your nights are always hype.
        .col-lg-6.col-md-6.col-sm-6
          img.img-responsive(src= '/images/inviteguestlist.png')        
  #party-section
    .container
      .row
        .col-lg-6.col-md-6.col-sm-6
          img.img-responsive(src= '/images/tonightreview.png') 
        .col-lg-6.col-md-6.col-sm-6
          .message
            h3 Get ready for the party
            p Dress appropriately and try to make it on time. And if you have any questions, ask the host anything and they'll help you out. They'll let you know anything you need to make sure the night goes smooth. 
            
  #beta-section
    .container
      .section-title
        h3 Coming soon to the app store
        hr
      .row-centered
        a.beta-access-button(href='/betarequest') REQUEST ACCESS TO THE BETA
