extends layout

block links
  link(rel='stylesheet', href='/stylesheets/home.css')
  link(rel='stylesheet', href='/stylesheets/slick.css')

block content
  #banner-wrapper
    #first-banner
      .container
        h1.banner-title HYPE
        h2.banner-subtitle NIGHTLIFE
        hr.banner-hr
        h3.banner-message The app that gets you in the best party tonight
        .banner-button
          a.beta-access-button(href='/betarequest') Tell me more
        
  #explanation-section
    .container
      #explanation-wrapper
        .section-title
          h3 Not just another night out
        .row-centered
          .col-lg-6.col-centered
            p No more waiting in line. arguing with the bouncer. spending more than you should on drinks. and standing in the corner with strangers you barely like.
            
  #events-section
    .container
      .row
        .col-lg-6.col-md-6.col-sm-6
          .message
            h3 Discover the best way to go out in your city
            p Pick from any of the most exclusive events in the city.
        .col-lg-6.col-md-6.col-sm-6
          img.img-responsive(src= '/images/eventdiscovery.png')  
      
  //- #select-host-section
  //-   .container
  //-     .row
  //-       .col-lg-6
  //-         .message
  //-           h3 Select a host
  //-           p Our hosts are vetted professionals who know the venues in and out. They'll handle the bouncers, make sure you breeze through the line and put you at their table with free drinks. 
  //-       .col-lg-6
  //-         img.img-responsive(src= '/images/selecthost.png')
  #hosts-section
    .container-fluid
      .section-title
        h3 Get treated
        hr
        p When you’re on our guestlist, you’ll be taken care of by a host. Our hosts are vetted professionals who know the venues in and out. They'll make sure you breeze through the line take care of your every need.
            
  #invite-guests-section
    .container-fluid
      .section-title
        h3 Make it Hype
        p Parties are better with friends. The more people you bring with you to the party, the better your night gets. Not only do you get to enjoy experiences with your friends, you’ll get rewarded too.

  #beta-section
    .container
      .section-title
        h3 Coming soon to the app store
        hr
      .row-centered
        a.beta-access-button(href='/betarequest') REQUEST ACCESS TO THE BETA
  
  //- Preload images so that they are ready when the homepage loads
  #preload
    img(src= '/images/hypelistlogo.png' width="1" height="1" alt="Image 01")
    img(src= '/images/welcomebackground.png' width="1" height="1" alt="Image 02")
    img(src= '/images/eventdiscovery.png' width="1" height="1" alt="Image 03")
    img(src= '/images/inviteguestlist.png' width="1" height="1" alt="Image 04")
    img(src= '/images/tonightreview.png' width="1" height="1" alt="Image 05")
    img(src= '/images/discoverybackground.png' width="1" height="1" alt="Image 06")
    img(src= '/images/hostbackground.png' width="1" height="1" alt="Image 07")
    img(src= '/images/invitebackground.png' width="1" height="1" alt="Image 08")

block scripts
  script(src='/javascripts/home.js')
  script(src='/javascripts/slick.js')
