doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/less-css/toolkit-startup.css')
    link(rel='stylesheet', href='/stylesheets/master.css')
    link(rel='stylesheet', href='/stylesheets/mobile.css')
    script(src="//load.sumome.com/" data-sumo-site-id="0316b39fd97b4b858ff1cac6124b11b50d6b859f5c92906978c18e3db6e1f046" async="async")
    block links
  
  body
    include ./includes/sidebar.jade
    #stage.stage
      include ./includes/navbar.jade
      block content
      include ./includes/footer.jade
    
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='/javascripts/analytics.js')
    script(src="//www.parsecdn.com/js/parse-latest.js")
    script(src="//parsleyjs.org/dist/parsley.min.js")
    script(src='/javascripts/toolkit.js')
    script(src='/javascripts/application.js')
    script(src='/javascripts/form.js')

    block scripts
