doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/master.css')
    link(rel='stylesheet', href='/stylesheets/mobile.css')
    block links
  
  body
    include ./includes/navbar.jade
    #wrapper
      #panel
        block content
    include ./includes/footer.jade
    
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='/javascripts/analytics.js')
    script(src="//cdnjs.cloudflare.com/ajax/libs/slideout/0.1.9/slideout.min.js")
    script(src="javascripts/navbar.js")
    block scripts
