extends layout

block content
  section#privacy-section
    .container
      .row
        .col-lg-12
          h3 Hypelist, LLC. Privacy Policy
          h3 Last Updated: August 8, 2015
          
          h3 Dear user,
          
          p We, Hypelist, LLC, our subsidiaries and affiliates (collectively, "Hypelist" or “we” or “us” or “our”), appreciate your business, visit to, and use of our mobile application and related website(s) (collectively, the “Platform”). The Platform is a communication medium, comprising content, products and services (collectively, the "Services") which enable individuals and groups of people (“Clients”) and hosts (“Hosts”, collectively with Clients, “user” or “users” or “you” or “your”) to connect. Clients seeking to get entry into venues and events (“Venue” or “Event”) of preference reach out to, interact with, chose and use the services of Hosts to gain access into the applicable Venue or Event (“Host Services”). 
          
          p As a visitor to our Platform and user of our Services, we consider the privacy of your data and information, whether corporate or personal, to be of paramount importance and at the top of our priorities. Information we gather from you as a user, not only facilitates interactions and transactions between us and you and other users, but also helps us continually improve your Platform experience.
          
          p Towards assuring you of the security and protection of the information you provide us when purchasing or using our Platform Services, we outline below our policy that governs the use of this Platform, to protect your personal data as informed by the requirements of law (the “Privacy Policy”). By accessing and browsing the Platform and/or using our Services, you are agreeing to be bound by and affirm that you are conversant with our Privacy Policy, as amended and modified from time to time, and its limitations or qualification. Please read it carefully. Please also note that we may, at our sole discretion, modify or revise our Privacy Policy at any time by updating the text of this page without notice to you, and you are bound by any such modification or revision. You should therefore visit this page periodically to review our Privacy Policy. Your continued access, use and/or browsing on this Platform following the posting of changes to the Privacy Policy means you accept those modifications or revisions. 
          
          p Hypelist, may process your personal information outside of the United States. Each of the countries in which Hypelist has a presence, has differing privacy laws offering different levels of protection for your personal information. Our Privacy Policy reflects these varying practices and we will act in accordance with this Privacy Policy in all jurisdictions we operate in by providing your personal information in any jurisdiction, in accordance with this Privacy Policy.
          
          h3 Information We May Collect From You
          p By using the Platform and its related sites, Services and/or registering for an Hypelist account (your “Hypelist Account”), you expressly consent to our collection, use, disclosure, and retention of your personal information as described in this Privacy Policy.
          p This Privacy Policy is effective immediately and is incorporated by reference into, and a part of our Terms of Use, which governs your use of our Platform in general. 
          p You can browse our Platform without telling us who you are or revealing any personal information about yourself. If you register for a Hypelist Account with us, you give us your personal information, and you are not anonymous to us. If you choose to provide us with personal information, you consent to the transfer and storage of that information on our servers located in the United States and with respect to our affiliates, elsewhere in the world where we have a presence.
          p When you visit our Platform or use our Services, we collect information sent to us by your computer, mobile phone, or other access device.  This information is not associated with you personally unless you sign in as a registered user.
          p We collect the following types of personal information in order to provide you with the use and access to our Platform and our Services:
          ul 
            li 
              p personal information you provide to us such as your name, title, date of birth, home and/or business address (billing (if applicable) and/or mailing address), e-mail address, home and/or business phone number, mobile telephone number, wireless and/or fax number, physical contact information, and (depending on the service used) sometimes financial information, such as credit card, debit card or bank account numbers; 
            li
              p other information, personal or otherwise, such as Event and/or Venue interests or preferences, Platform use history and marketing preferences, that you provide to us through questionnaire, correspondence, chats, dispute resolution, or shared by you from other social applications, services, or websites; 
            li 
              p additional personal information we ask you to submit to authenticate yourself or if we believe you are violating our Platform policies (for example, we may ask you to send us an ID or bill to verify your address, or to answer additional questions online to help verify your identity);
            li
              p other supplemental information obtained from third parties such as demographic and navigation data; your program level in their user incentive program and your Hypelist Account information; and, especially with respect to Hosts, your credit check information, and additional information about you from a credit bureau, as permitted by law; 
            li 
              p information from your interaction with our Platform, Services, content and advertising, including, but not limited to, web logs, device ID, device type, geo-location information, computer and connection information, statistics on user behavior, page views, traffic to and from the Platform, ad data, IP address and standard web log information; and 
            li
              p details of interactions and transactions you carry out through our Platform, and any communications by telephone, in person or by any other means relating to those transactions, which may include recording certain telephone conversations, for example relating to live bidding.
          h3 Sharing of Information and Registration with Social Media Platforms
          p We offer sign-on Services that allow you to use third party login credentials to access our Platform. We also offer Services that allow you to share information with third party social media websites such as Facebook, Google Plus, Twitter, and others.
          p You may choose to provide us with access to certain personal information stored by such third party websites. The personal information we have access to varies by website and is controlled by your privacy settings on that website and your consent.  By associating an account managed by a third party with your Hypelist Account and authorizing Hypelist to have access to this information, you agree that Hypelist may collect, use and store information from these websites in accordance with this Privacy Policy.
          h3 Use
          p Our primary purpose in collecting personal information is to provide you with access to our Platform and our Services, and provide you with a safe, smooth, efficient, and customized experience. You agree that we may use your personal information to:
          ul
            li
              p where applicable, process transactions between you and us;
            li
              p process data internally, for instance compile statistical information about your interests and that of other users in relation to the Services on our Platform;
            li
              p provide you with information, Services that you request from us or which we believe would interest you in a way that is targeted and relevant;
            li 
              p provide access to our Platform and the Services and user support you request;  
            li
              p carry out contractual obligations based on agreements entered between you and us;
            li
              p resolve disputes and troubleshoot problems; 
            li
              p prevent, detect, and investigate potentially prohibited or illegal activities, and enforce our Terms of Use;
            li
              p  customize, measure, and improve our Services, content, and advertising to ensure you have a better user experience on our Platform;  
            li 
              p	tell you about our Services and those of our corporate family, as well as changes to them;
            li
              p advise you of forthcoming new Services, Events, Venues and promotional offers;
            li
              p deliver targeted marketing, Service updates, and promotional offers based on your communication preferences; 
            li
              p compare information for accuracy, and verify it with third parties; 
            li
              p contact you, for the purposes provided in this Privacy Policy, any other of our policies or for whatever reason, at telephone numbers we have collected, by placing a voice call or through text (SMS) or e-mail messaging, as authorized by this Privacy Policy; and
            li
              p provide you other Services requested by you as described when we collect the information. 
          p Please note that if the e-mail address you provide to us is a wireless e-mail address, and you have elected to receive promotional messages from us, you agree to receive messages at such address from us, unless and until you have elected not to receive such messages by following the instructions in the marketing section below. You understand that your wireless carrier's standard rates apply to these messages, and that you may change your mind at any time by following the instructions in the marketing section below. You represent that you are the owner or authorized user of the wireless device on which messages will be received, and that you are authorized to approve the applicable charges.
          h3 marketing
          p We do not sell, trade or lease your personal information to third parties for their marketing purposes without your explicit consent. We may combine your personal information with information we collect from other companies and use it to improve and personalize our Services, content and advertising.
          p If you do not wish to receive marketing communications from us, you can indicate your communications preference in your Hypelist Account, or within direct communication channels with us including through means we may seek to contact you such as e-mail, text, SMS or any other messaging service, telephone, fax and by post. 
          h3 Our Disclosure of Your Information
          p We disclose personal information to respond to legal requirements, enforce our policies, respond to claims that a listing or other content violates the rights of others, or protect anyone's rights, property, or safety. Such information will be disclosed in accordance with applicable laws and regulations.
          p We also share your personal information with:
          ul
            li
              p our affiliates to provide joint content and Services (like registration, transactions, and user support), to help detect and prevent potentially illegal acts and violations of our policies, and to guide decisions about their products, sites, applications, tools, services and communications. We shall use this information to send you marketing communications only if you have requested our Services and will use your personal information in compliance with our Privacy Policies and our global privacy standards;
            li
              p service providers and other third parties that provide products or services for or through our Platform or for our business (such as website or database hosting companies, address list hosting companies, e-mail service providers, analytics companies, distribution companies, fulfillment companies, and other similar service providers that use such information on our behalf) under contract who help with our business operations (such as, but not limited to, fraud investigations, bill collection, insurance service providers, affiliate and rewards programs, site operations, and co-branded credit cards);  
            li
              p other third parties to whom you explicitly ask us to send your information (or about whom you are otherwise explicitly notified and consent to when using a specific Service) including third party incentive or reward programs in which you may enroll and we may participate, which information shared would be limited;  
            li 
              p law enforcement, governmental agencies, authorized third parties, judicial proceedings, including a valid court order in relation to litigation or in response to a verified request relating to criminal investigations or alleged illegal activity or any other activity that may expose us, you, or any other Hypelist user to legal liability. In such events, we will disclose information relevant and necessary to the investigation, inquiry or court proceedings, such as name, city, state, ZIP code, telephone number, e-mail address, user ID history, IP address, fraud complaints, Platform use history, and anything else we may deem relevant in that regard; 
            li
              p other business entities which provide offers to select Hypelist users through us. When we do this we do not provide those businesses with your name and address, and you have every right to notify us that you are not interested in receiving such offers; and
            li
              p other business entities, should we plan to merge with or be acquired by a given business entity. (Should such a combination occur, we will require that the new combined entity follow this Privacy Policy with respect to your personal information. If your personal information will be used contrary to this Privacy Policy, you will receive prior notice.).  
          p Without limiting the above, in an effort to respect your privacy and our ability to keep the community free from bad actors, we will not otherwise disclose your personal information to law enforcement, other government officials, or other third parties without a subpoena, court order or substantially similar legal procedure, except when we believe in good faith that the disclosure of information is necessary to prevent imminent physical harm or financial loss or to report suspected illegal activity.
          p Further, other than as set forth above, you will receive notice when information about you might go to third parties, and you will have an opportunity to choose not to share the information.
          h3 Information you share on thehypelist.co
          p Your user ID is not displayed throughout thehypelist.co (and so is not available to the public), although for our internal purposes and out of the public eye, it is connected to all of your Hypelist activity. People you allow to follow you on the Platform, can see your Host, Event and Venue selections. Notices sent about suspicious activity and policy violations on our Platform refers to user IDs and specific items. So if you associate your name with your user ID, the people to whom you have revealed your name will be able to personally identify your Hypelist activities.
          p If you access our Platform from a shared computer, a computer in an Internet café or another person’s mobile phone, certain information about you, such as your user ID, activity, or reminders from Hypelist, may also be visible to other individuals who use the computer or mobile phone after you.
          h3 Using Information From Us
          p We enable you to share personal information using the Platform and our Services. We encourage you to disclose your privacy practices and respect the privacy of other users. To help protect your privacy, we allow only limited access to other users' contact and usage information to facilitate connection, interaction and flow of relevant or common information. When users are involved in connecting with each other, they may have access to each other's name, user ID, e-mail address and other contact information. In all cases, you must give other users a chance to remove themselves from your database and a chance to review what information you have collected about them.
          p You agree to use user information only for:
          ul
            li 
              p Hypelist user connection-related purposes that are not unsolicited commercial messages;  
            li
              p using services offered through Hypelist; or 
            li
              p other purposes that a user expressly chooses. 
          h3 Coookies
          p We use "cookies" (small data files placed within your computing device) on certain of our pages to help analyze our Platform page flow; customize our Services, content and advertising; measure promotional effectiveness, and promote trust and safety. Cookies track your movement on our Platform, including what you view, your transactions and what you purchase. They essentially serve to improve and personalize your experience on our Platform. 
          p A few important things you should know about our use of these technologies are:
          ul
            li 
              p we offer certain features that are available only through the use of cookies and are therefore one of the primary ways in which we announce a new feature that was added since the last time you visited our Platform; 
            li
              p we use cookies to help identify you, track information about you and maintain your signed-in status;  
            li
              p most cookies are "session cookies," meaning that they are automatically deleted from your hard drive at the end of a session; 
            li
              p you are always free to decline our cookies if your browser permits, although doing so may interfere with your use of our Platform or Services;  
            li 
              p you may encounter cookies from third parties, known as service providers, that we have allowed on our Platform that assist us with various aspects of our Platform operations and services; and
            li 
              p you also may encounter cookies from third parties on certain pages of our Platform that we do not control and have not authorized. (For example, if you view a Platform page created by another user, there may be a cookie placed by that page.). 
          p Most web and mobile phone browsers or Flash players have functionalities that can be set to block or refuse the use of cookies. However, refusing a cookie may, in some instances, hinder or curtail your user experience on our Platform or certain areas of it.
          h3 Clear GIFs
          p We may use "clear GIFs" (also known as "web beacons" or "pixel tags") or similar technologies, in the Platform and/or in our communications with you, to enable us to evaluate Platform usage information about visitors to our Platform, target campaigns, upgrade visitor information, and know whether you have visited a Platform page or received a message. A clear GIF is typically a one-pixel transparent image (although it can be a visible image as well), located on a Platform page or in an e-mail or other type of message, which is retrieved from a remote site on the Internet thus enabling the verification of an individual's viewing or receipt of a Platform page or message. A clear GIF may enable us to relate your viewing or receipt of a Platform page or message to other information about you, including your personal information.
          h3 IP Address and Clickstream Data
          p Our server automatically collects data about your server's Internet address when you visit us. This information, known as an Internet Protocol address, or IP Address, is a number that's automatically assigned to your computer by your Internet service provider whenever you're on the Internet. When you request pages from our Platform, our servers may log your IP Address and sometimes your domain name. Your IP Address is used to help identify you and to gather demographic information about our users as a whole. Our server may also record the referring page that linked you to us (e.g., another website or a search engine); the pages you visit on our Platform; the website or mobile application you visit after our Platform; the ads you see and/or click on; other information about the type of web browser, computer, platform, related software and settings you are using; any search terms you have entered on this Platform or a referral site; and other web usage activity and data logged by our web servers. We use this information for internal system administration, to help diagnose problems with our server, to administer our Platform, and to customize your user experience. Such information may also be used to gather demographic information, such as country of origin and Internet Service Provider. We may link this information with your personal information.
          p Any or all of these activities with regard to Platform usage information may be performed on our behalf by our services providers, including, for example, our analytics vendor(s) and our e-mail management partner(s).
          h3 No Spam, Spyware or Spoofing
          p We and our users do not tolerate spam. Make sure to set your Hypelist communication preferences so we communicate to you as you prefer. You are not licensed to add other Hypelist users to your mailing list (e-mail or physical mail) without their express consent. To report Hypelist-related spam or spoof e-mails to Hypelist, please forward the e-mail to support@thehypelist.co. You may not use our communication tools to send spam or otherwise send content that would violate our Terms of Use. We automatically scan and may manually filter messages to check for spam, viruses, phishing attacks, and other malicious activity or illegal or prohibited content, but we do not permanently store messages sent through these tools. If you send an e-mail to an e-mail address that is not registered in our community (via Refer-a-Friend or other tools), we do not permanently store that e-mail or use that e-mail address for any marketing purpose. We do not rent or sell these e-mail addresses.
          h3 phishing
          p With identity theft a continuing problem, it has become increasingly common for unauthorized individuals to send e-mail messages to consumers, purporting to represent a legitimate company such as a bank or on-line merchant, requesting that the consumer provide personal, often sensitive information. Sometimes, the domain name of the e-mail address from which the e-mail appears to have been sent, and the domain name of the website requesting such information, appears to be the domain name of a legitimate, trusted company. In reality, such sensitive information is received by an unauthorized individual to be used for purposes of identity theft. This illegal activity has come to be known as"phishing."
          p We will never request your password or social security number via e-mail. If you receive an e-mail or other correspondence requesting that you provide any sensitive information (including your Platform password or credit card information) via e-mail or to a website that does not seem to be affiliated with our Platform, or that otherwise seems suspicious to you, please do not provide such information, and report such request to us.
          h3 Accessing, Reviewing and Changing Your Personal Information
          p Your password is the key to your Hypelist Account. Use unique numbers, letters, and special characters, and do not disclose your Hypelist password to anyone. If you do share your password or your personal information with others, remember that you are responsible for all actions taken in the name of your Hypelist Account. If you lose control of your password, you may lose substantial control over your personal information and may be subject to legally binding actions taken on your behalf. Therefore, if your password has been compromised for any reason, you should immediately notify Hypelist and change your password.
          p You can see, review, and change most of your personal information by signing on to Hypelist. Generally, we will not manually modify your personal information because it is very difficult to verify your identity remotely. You must promptly update your personal information if it changes or is inaccurate. Once you make a public posting, you may not be able to change or remove it. Upon your request, we will close your Hypelist Account and remove your personal information from view as soon as reasonably possible, based on your Hypelist Account activity and in accordance with applicable law. We do retain personal information from closed accounts to comply with law, prevent fraud, collect any fees owed, resolve disputes, troubleshoot problems, assist with any investigations, enforce our Terms of Use, and take other actions otherwise permitted by law.
          h3 How we protect and store personal information
          p Throughout this Privacy Policy, we use the term "personal information" to describe information that can be associated with a specific person and can be used to identify that person. We do not consider personal information to include information that has been made anonymous so that it does not identify a specific user.
          p We store and process your personal information on our computers in the United States and elsewhere in the world where we have a presence. We protect your information using technical and administrative security measures to reduce the risks of loss, misuse, unauthorized access, disclosure and alteration. Some of the safeguards we use are firewalls and data encryption, physical access controls to our data centers, and information access authorization controls.
          p We take steps to ensure that the personal information we collect is accurate and up to date, and we provide you with the opportunity to update your information through your Hypelist Account profile settings. We retain information as long as it is necessary and relevant for our operations or for as long as is expressly agreed between you and us. In addition, we may retain personal information from closed accounts to comply with the law, prevent fraud, collect any fees owed, resolve disputes, troubleshoot problems, assist with any investigation, enforce our Terms of Use and take other actions permitted by law.
          p Although we try our best to protect the security and integrity of your personal information against both unauthorized physical and electronic access, we cannot guarantee that information during transmission through the Internet or any computer network is entirely safe from unauthorized intrusion, access or manipulation. We will make your sensitive information available to our employees and agents on a need-to-know basis. Nonetheless, we will have no liability for disclosure of information to anyone due to errors or unauthorized acts of third parties during or after transmission. In any event, where we believe personal data has been compromised, we will notify you of this.
          p Please note that it is important for you to protect against unauthorized access to your password and your computer. You agree to (a) immediately notify us of any unauthorized use of your password or Hypelist Account or any other breach of security, and (b) ensure that you exit from your Hypelist Account at the end of each session, especially where you are accessing our Platform on a public computer. It is your sole responsibility to control the dissemination and use of your password, control access to and use of your Hypelist Account, and notify us when you desire to cancel your Hypelist Account on our Platform. We will not be responsible or liable for any loss or damage arising from your failure to comply with this provision. 
          h3 Third parties
          p Except as otherwise expressly included in this Privacy Policy, this document addresses only the use and disclosure of information we collect from you. If you disclose your information to others, whether they are users on our Platform or other sites throughout the Internet, different rules may apply to their use or disclosure of the information you provide to them. When you click links and banners on our Platform that take you to third party websites, you will be subject to the third parties’ privacy policies. Hypelist does not control the privacy policies of third parties, and you are subject to the privacy policies of those third parties where applicable. We encourage you to ask questions before you disclose your personal information to others.
          h3 Right to a copy
          p You have a legal right to request and obtain a copy of the information we hold about you. This includes information on how this will be used and to ensure this information is accurate. You may review and edit the personal information that is stored in your Hypelist Account on our Platform. You may send us new or updated information at any time. Taking into account the foregoing, we will endeavor to respond to your request to access, update or delete your information as soon as practicable. Before we are able to provide you with any information, correct any inaccuracies or delete any information, however, we may ask you to verify your identity and to provide other details to help us to respond to your request. In addition, you have the right to request access to the personal information that we hold about you at any time.
          h3 Contact Us
          p If your privacy questions are not answered online, you may write to us at: Hypelist, Attn: [122 ST MARKS PLACE, NEW YORK, 10009], or using the Contact Us form, or e-mail us at contact@thehypelist.co.
          p Effective Date: August 8, 2015
