@import "media-queries";
@include max-screen(675px) {
  $screen-width: 420px;
  .toggle-button {
    display: inline-block;
  }
  .navbar {
    position: fixed;
    background-color: rgba(0,0,0,1);
    padding-bottom: 10px;
  }

  #logo {
    height: 35px;
  }
  body,
  #wrapper {
    height: 100%;
  }
  #banner-wrapper {
    height: 100vh;
    .banner-title {
      font-size: 3em;
      padding: 0 0 25px 0;
    }
    .banner-message {
      font-size: 16px;
     font-weight: 400;
     text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
     padding-bottom: 50px;
    }
    #first-banner {
      height: 100vh;
      padding: 150px 0 200px;
    }
    #second-banner {
      height: 100vh;
      padding: 150px 0 200px;
    }
    #third-banner {
      height: 100vh;
      padding: 150px 0 200px;
    }
  }

  #events-section {
    padding-top: 0;
    .message {
      text-align: center;
      padding: 25px 0;
      h3 {
        font-size: 1.5em;
      }
    }
  }
  .event-box {
    width: $screen-width * 0.8;
    height: $screen-width * 0.8;
    margin: 10px 0;
  }
  #first-event-box,
  #second-event-box,
  #third-event-box {
    @extend .event-box;
  }
  #explanation-section {
    padding-top: 25px;
    h3 {
      font-size: 20px;
      font-weight: 400;
      text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    }
    p {
      font-weight: 100;
      padding: 10px 5px;
    };
  }
  #invite-guests-section {
    padding: 0px;
    .message {
      padding: 25px 0;
    }
  }
  #hosts-section {
    padding-top: 25px;
  }
  .host-box {
    margin: 10px 0;
  }
  #first-host-box,
  #second-host-box,
  #third-host-box {
    @extend .host-box;
  }
  .download-button {
    #downloadbtn {
      width: 66%;
    }
  }
  #banner {
    padding: 100px 0 25px 0;
  }
  #submitbetarequest {
    padding: 10px;
    max-width: 100%;
    margin: 10px auto;
    label {
      font-size: 1em;
    }
    input, textarea {
      font-size: 1.5em;
    }
  }
  .modal {
    width: 90%;
    height: 66%;
  }
  footer {
    .footer-left, .footer-right {
      text-align: center;
    }
  }
  form {
    label {
      left: auto;
      transform: translateY(-25px);
    }
  }
}
