$primary-font-stack: "Open Sans", Helvetica, sans-serif;
$secondary-font-stack: "Raleway", sans-serif;
$primary-black-color: #141414;
$secondary-black-color: #1a1f25;
$accent-color: #C5B358;
$accent-color-dark: darken($accent-color,5%);
$primary-text-color: #f8f8f8;
$tertiary-font-color: #808080;
$banner-word-padding: 25px;
